<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .barre {text-decoration: line-through;}
    </style>

    
</head>
<body>
<!-- container container-fluid  -->
{% verbatim %}
<div class="container" id="liste">
    <div class="row"  >
        <div class="offset-3 col-6">
            <h1> Liste de courses VueJS</h1>
            <br>
            <div class="row">
                <div class="col-6">
                    <input v-model="nom" class="form-control" >
                </div>
                <div class="col-2">
                    <button @click="ajouter()" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <br>

            <table class="table table-striped">
                <thead>
                <tr><th>Item</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

         <tr
         v-for="(item,i) in tableau"
         :class="{'table-danger': item.isBought}"
         >
        <td>
            {{ item.name }}
        </td>
        <td>
            <button
                    @click="acheter(i)"
                    class="btn btn-primary">
                <i class="fa fa-check"></i>
            </button>
            &nbsp;
            <button
                    @click="enlever(i)"
                    class="btn btn-danger del">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
{% endverbatim %}
<template id="ligne">

</template>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    //----------------------
    let url='http://localhost/__symfony/projet-courses/public/api/item/';
    const app = new Vue({
        el:'#liste',
        data:{
            url:'http://localhost/__symfony/projet-courses/public/api/item/',
            tableau:[],
            nom:'',
        },
        methods:{
            ajouter() {
                let item = {name: this.nom};
                this.nom = '';
                axios.post(this.url, item).then(response => {
                    this.tableau.push(response.data);
                });
            },
            enlever(i){
                let id = this.tableau[i].id;
                let url2 = this.url + id;
                axios.delete(url2).then(response =>{
                   this.tableau.splice(i,1);
                });
            },
            acheter(i){
                let id = this.tableau[i].id;
                let url2 = this.url + id;
                axios.put(url2).then(response =>{
                    this.tableau[i].isBought = response.data.isBought;
                });
            }
        },
        mounted : function(){
            //console.log('start');
            axios.get(this.url).then( response => {
                this.tableau = response.data;
            });
        }
    });
   /*
    axios.get(url).then( response => {
        let tableau = response.data;
        console.log(tableau);
        for( let item of tableau){
            let tbody = document.querySelector('#mytbody');
            let template = document.querySelector('#ligne');
            let clone = template.content.cloneNode(true);
            // je met le clone a l'intérieur du tbody

            //  un tableau de selecteur td
            let td = clone.querySelectorAll("td");
            td[0].innerHTML = item.name;

            let btn = clone.querySelector('.btn-danger');
            btn.setAttribute('data-id',item.id);
            if (item.isBought){
                let tr =clone.querySelector('tr');
                tr.setAttribute('class','table-danger');
            }

            let btn2 = clone.querySelector('.btn-primary');
            btn2.setAttribute('data-id',item.id);
            tbody.appendChild(clone);
        }
    });
    ///----------------------------------------------------------------
    function ajouter(){

        // lire la balise input
        let nom = document.getElementById('nom').value;
        document.getElementById('nom').value='';

        let body ={ name:nom};

        //data = data.toUpperCase();
        axios.post(url,body).then( response => {
            console.log(response.data);
            // recharge la page !
            location.reload();


        })

        // affiche ds la div #demo
        //document.getElementById('demo').innerHTML = nom;
    }
    //----------------------------------------------------------------------------
    function enlever(btn) {
        let id = btn.getAttribute('data-id');
        console.log(id);
        let url2 = url + id;

        axios.delete(url2).then(response => {
            btn.parentElement.parentElement.remove();
        });
    }
    //----------------------------------------------------------------------------
    function acheter(btn){
        let id = btn.getAttribute('data-id');
        console.log(id);
        let url2 = url + id;

        axios.put(url2).then( response => {
           // reload  page
            location.reload();
        });
}
*/

</script>
</body>
</html>

